---
- name: "Ensure ruby build dependencies are installed"
  apt:
    pkg:
      - autoconf
      - automake
      - bison
      - curl
      - g++
      - gawk
      - libtool
      - make
      - patch
      - pkg-config
      - libssl-dev
      - libreadline-dev
      - zlib1g-dev
      - libyaml-dev
      - libffi-dev

- name: Remove RVM from system
  import_tasks: remove_rvm.yml

- name: "Install mise for mise_users"
  shell: "curl https://mise.run | sh"
  args:
    creates: "/home/{{ item }}/.local/bin/mise"
  become_user: "{{ item }}"
  loop: "{{ mise_users }}"

- name: "Add mise to shell rc files"
  lineinfile:
    path: "/home/{{ item }}/.bashrc"
    line: 'eval "$(~/.local/bin/mise activate bash)"'
    create: yes
  become_user: "{{ item }}"
  loop: "{{ mise_users }}"

- name: "Ensure gem dependencies are installed"
  apt:
    pkg: "{{ apt_packages }}"

- name: "Install ruby-{{ ruby_version }} for mise_users"
  command: "/bin/bash -lc 'mise install ruby@{{ ruby_version }}'"
  args:
    creates: "/home/{{ item }}/.local/share/mise/installs/ruby/{{ ruby_version }}"
  become_user: "{{ item }}"
  loop: "{{ mise_users }}"
  async: 1800
  poll: 5
  notify: "Set default ruby version"

- name: Check if bundler is installed for mise_users
  command: /bin/bash -lc "mise exec ruby@{{ ruby_version }} -- gem list bundler -i -v {{ bundler_version }}"
  become_user: "{{ item }}"
  register: bundler_check
  failed_when: false
  changed_when: false
  loop: "{{ mise_users }}"
  async: 60
  poll: 2

- name: Install bundler for ruby {{ ruby_version }} for mise_users
  command: /bin/bash -lc "mise exec ruby@{{ ruby_version }} -- gem install bundler --version {{ bundler_version }}"
  become_user: "{{ item.item }}"
  when: item.rc != 0
  loop: "{{ bundler_check.results }}"
  async: 300
  poll: 2

- name: Create .bash_aliases for mise_users
  lineinfile:
    path: "/home/{{ item.0 }}/.bash_aliases"
    line: "{{ item.1 }}"
    create: yes
    owner: "{{ item.0 }}"
    group: "{{ item.0 }}"
    mode: '0644'
  tags: 'bash_aliases'
  loop: "{{ mise_users | product(bash_alias_lines) | list }}"

