---
- name: Uninstall RVM using rvm implode (if rvm is available)
  shell: /bin/bash -lc 'rvm implode --force'
  become_user: "{{ item }}"
  loop: "{{ mise_users }}"
  ignore_errors: yes
  async: 60
  poll: 2

- name: Remove RVM directories and files
  file:
    path: "/home/{{ item.0 }}/{{ item.1 }}"
    state: absent
  loop: "{{ mise_users | product(['.rvm', '.rvmrc', '.rvm.lock']) | list }}"
  loop_control:
    label: "{{ item.1 }} for {{ item.0 }}"

- name: Clean up shell initialization files
  replace:
    path: "/home/{{ item.0 }}/{{ item.1 }}"
    regexp: '^.*[Rr][Vv][Mm].*$\n?'
    replace: ''
  loop: "{{ mise_users | product(['.bashrc', '.bash_profile']) | list }}"
  ignore_errors: yes
